@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --table-radius: 4px;
}

@theme inline {
  --color-primary: #0041ae;
  --color-secondary: #0065ea;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-plus-jakarta-sans);
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0000;
}

::-webkit-scrollbar-thumb {
  background: #fff3;
  border-radius: 4px;
}


.ant-input {
  font-family: var(--font-plus-jakarta-sans) !important;
}

.ant-menu {
  border-right: 0 !important;
}

.ant-menu .ant-menu-item {
  padding: 8px 20px !important;
  height: auto !important;
  font-size: 12px !important;
  line-height: normal !important;
}

.ant-btn {
  font-size: 13px !important;
  height: auto !important;
  padding: 6px 16px !important;
}

.ant-btn-link {
  padding: 0 !important;
  color: #222 !important;
}

.ant-table-thead .ant-table-cell {
  border-right: 0 !important;
}

.ant-table-container {
  border-start-start-radius: var(--table-radius) !important;
  border-start-end-radius: var(--table-radius) !important;
  border-end-start-radius: var(--table-radius) !important;
  border-end-end-radius: var(--table-radius) !important;
  overflow: hidden !important;
}

.ant-table-container table {
  border-radius: var(--table-radius) !important;
}

.ant-table-container table>thead>tr:first-child>*:first-child {
  border-start-start-radius: var(--table-radius) !important;
}

.ant-table-container table>thead>tr:first-child>*:last-child {
  border-start-end-radius: var(--table-radius) !important;
}

.ant-table-container table>tbody>tr:last-child>*:first-child {
  border-end-start-radius: var(--table-radius) !important;
}

.ant-table-container table>tbody>tr:last-child>*:last-child {
  border-end-end-radius: var(--table-radius) !important;
}

.icon_button {
  background-color: #daebff !important;
  border: none !important;
}

.icon_button svg {
  fill: #0042ad !important;
}

.ant-tooltip-container {
  display: flex;
  font-size: 12px;
  padding: 4px 10px !important;
  line-height: 1.5 !important;
  align-items: center;
  justify-content: center;
  min-height: auto !important;
}

.ant-form-item-label {
  padding-bottom: 4px !important;
}